PracticalProductDisplay/ProductDisplay/Service References/ProductReference/ProductServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfproduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="tns:product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfproduct" nillable="true" type="tns:ArrayOfproduct" />
  <xs:complexType name="product">
    <xs:sequence>
      <xs:element minOccurs="0" name="MSRP" type="xs:decimal" />
      <xs:element minOccurs="0" name="buyPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productScale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productVendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantityInStock" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="product" nillable="true" type="tns:product" />
</xs:schema>