PracticalProductDisplay/ProductDisplay/Service References/ProductReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProductServiceLibrary" />
  <xs:element name="productList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="productListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductServiceLibrary" minOccurs="0" name="productListResult" nillable="true" type="q1:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="choice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProductServiceLibrary" minOccurs="0" name="sortListResult" nillable="true" type="q2:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="choice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="displayStatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>